@import url('./splider.css');
@import url('./grid.css');
@import url('./star.css');
@import url('./slide.css');
@import url('./selectbox.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;

}




