input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #B88E2F;

  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #B88E2F;
  ;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: #B88E2F;

  border-radius: 50%;
  cursor: pointer;
}
